
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #FFFFFF;
    background: #0c1035;
    color: #FFFFFF;
}

:root {
    --primary-color:#5C27FE;
}

ul, li{
   list-style-type: none; 
}

p{
    margin-bottom:0;
}

a{
    font-family: "Audiowide";
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

a:hover{
    transition: all 0.3s;
    color: var(--primary-color);
}

h5,h2,
h5{
    font-family: "Audiowide",sans-serif;  
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 0;
}

h2,
.h2{
    font-size: 60px;
}


.header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 98px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-nav .menu{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 275px;
}

.main-nav .menu li {
    position: relative;
    padding-right:40px ;

}

.header__action {
    display: flex;
    align-items: center;
    
}

.action-btn span{
    background: linear-gradient(264.28deg, #DEC7FF -38.2%, #5C27FE 103.12%);
    padding: 10px 20px;
    border-radius: 10px;
    color: #FFF;
}

.block-text .desc {
    padding-right: 130px;
    margin-bottom: 40px;
    font-size:16px ;
}

.action-btn span{
    padding: 18px 56px;

}

.img1{
    height:80vh;
    width: 90vh;
    border-radius: 20px;
}

.avt{
    height: 200px;
    width: 200px;
}

.banner__left{
    padding: 127px 0;

}

.banner__right{
    padding: 83px 0;
    position: relative;
}

.image{
    width: 551px;
    height: 700px;
    margin-left: auto;
    margin-right: 74px;
    box-shadow: 0px 16px 36px rgba(0,0,0,0.25);
    border-radius: 130px;
    position: relative;
}

.banner__right .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 130px;
    position: relative;
    z-index: 2;

}

.image::before, .image:after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: 255, 255, 255,0.1;
    border-radius: 130px;
}

.image::before{
    transform: rotate(-17deg);

}

.image:after{
    transform: rotate(-7deg);
}
.banner__right .price{
    display: flex;
    align-items: center;
    padding: 20px;
    background: #fff;
    border-radius: 30px;
    position: absolute;
    top: 168px;
    right: 0;
    z-index: 3;
}

.price .icon{
    margin-right: 15px;
    filter: drop-shadow(0px 15px 20px rgba(164,128,255,0.5));
}

.price p{
    color: #0c1035;
    font-size: 14px;

}

.price h5{
    color: #0c1035;
}

.owner{
    display: flex;
    align-items: center;
    padding: 20px;
    background: #fff;
    border-radius: 30px;
    position: absolute;
    bottom: 206px;
    left: 4px;
    z-index: 3;
}

.owner .image{
    margin-right: 15px;
    min-width: 70px;
    width: 70px;
    height: 70px;
    border-radius: 20%;
    overflow: hidden;
}

.owner .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.owner p{
    color: #000000;
    font-size: 14px;
}

.owner h5{
    color: #000000;
}
