
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #FFFFFF;
    background: #0c1035;
    color: #FFFFFF;
}

:root {
    --primary-color:#5C27FE;
}

ul, li{
   list-style-type: none; 
}

p{
    margin-bottom:0;
}

a{
    font-family: "Audiowide";
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

a:hover{
    transition: all 0.3s;
    color: var(--primary-color);
}

h5,h2,
h5{
    font-family: "Audiowide",sans-serif;  
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 0;
}

h2,
.h2{
    font-size: 60px;
}


.header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 98px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-nav .menu{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 275px;
}

.main-nav .menu li {
    position: relative;
    padding-right:40px ;

}

.header__action {
    display: flex;
    align-items: center;
    
}

.action-btn span{
    background: linear-gradient(264.28deg, #DEC7FF -38.2%, #5C27FE 103.12%);
    padding: 10px 20px;
    border-radius: 10px;
    color: #FFF;
}

.block-text .desc {
    padding-right: 130px;
    margin-bottom: 40px;
    font-size:16px ;
}

.action-btn span{
    padding: 18px 56px;

}

.img1{
    height:80vh;
    width: 90vh;
    border-radius: 20px;
}